- inviter = @inviter.decorate


= image_tag inviter.avatar.url
%h1= inviter.full_name

%p
  Wants to be your friend on Kidio

%p
  = link_to 'CONFIRM REQUEST',
  friend_url(@invitee), :method => :put
