%h1 My family
= link_to 'Add new family member', new_family_bond_path, class: 'btn btn-default'
%table.table.table-bordered
  %thead
    %th #
    %th email
  %tbody
    - current_user.family.each_with_index do |family_member, index|
      %tr
        %td 
          = index + 1
        %td 
          = family_member.email
