.pins
  - @pins.each do |pin|
    .box.panel.panel-default
      .panel-content
        .photo-wrap
          =cl_image_tag(pin.public_id, {class: 'image'})
      .panel-footer
        %span.pull-right
          %span.fa.fa-comments-o
          23
          %span.orange (+3)
        %a{href: "#"}
          %span.avatar-mini
            = image_tag album.user.avatar, width: 30, height: 30
          %span.author
            = album.user.full_name
