#preview
  margin-left: 0px
  margin-right: 0px
  margin-top: 10px
  .image-container
    margin-bottom: 5px
    padding: 5px
    text-align: center
    height: 130px
    .thumbnail
      margin-bottom: 0

      img
        width: 80px
        height: 80px

      .action-img
        display: none

      .notice-about-deleted
        display: none

      &:hover
        cursor: pointer
        img
          opacity: 0.5
        .action-img
          &.restore
            display: none
          &.remove
            display: inline-block

      &.was-deleted
        img
          opacity: 0.2
        .notice-about-deleted
          display: inline-block

        &:hover
          img
            opacity: 0.5

          .action-img
            &.restore
              display: inline-block
            &.remove
              display: none

.cover
  display: none
  position: absolute
  top: 0
  bottom: 0
  right: 0
  left: 0
  background: rgba(0, 0, 0, .4)
  z-index: 2
  &:hover
    cursor: pointer
  h1, p
    text-align: center
    color: white
    position: relative
  h1
    top: 2.5em
  p
    top: 7em

.file-uploader
  z-index: 3
  .wrapper
    border: 1px dashed #999
    height: 80%
    span
      display: inline-block
      padding: 50px 65px
      color: #999
      cursor: pointer

#drop-input
  display: none

.panel.panel-default.file-uploader.in
  background: #2af336
  .wrapper
    border-color: white
    span
      color: white

.panel.panel-default.file-uploader.active
  background: #FF5656
  .wrapper
    border-color: white
    span
      color: white

.image-wall
  background: url("/images/background-wall.jpg")

