/*
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery.fileupload";
@import "jquery.fileupload-ui";
@import "dropzone";

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('cantarell-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('cantarell-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('cantarell-oblique.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  src: local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url('cantarell-bold-oblique.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$icon-background-color: white;
// $icon-background-color: #f05323;


.hide {
  display: none;
}

.orange{
  color: #f05323;
}

nav.navbar.navbar-everbook {
  background: white;
  box-shadow: 0 0 7px 3px #cdcdcd;
  height: 80px;
  border-radius: 0px;
  padding: 20px;

  .navbar-brand {
    height: 40px;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Cantarell', sans-serif;
    a {
      color: #f05323;
    }
  }
  .navbar-form {
    margin: 0px;
    margin-left: 30px;
    .form-control{
      height: 40px;
      width: 430px;
      background-color: #f4f4f4;
      border: 1px solid #e8e8e8;
      box-shadow: none;
    }
    .input-group-addon{
      border: 1px solid #e8e8e8;
      height: 40px;
      width: 40px;
      font-size: 18px;
      padding: 0px;
      background-image: -webkit-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -moz-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -ms-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -o-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: linear-gradient(to top, #e9e9e9, #fafafa);
      &.logo {
        background-image: url('/images/everbook-logo.png'), -webkit-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -moz-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -ms-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -o-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), linear-gradient(to top, #e9e9e9, #fafafa);
      }
    }
  }
  ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
    height: 40px;
    & > li {
      height: 40px;
      a{
        line-height: 10px;
        color: #616161;
        padding-left: 10px;
        padding-right: 10px;
        &.orange{
          color: #f05323;
        }
        &:hover, &:active {
          background-color: #fff;
        }
      }
      &:hover {
        background-color: #fff;
      }
      &.user-menu {
        &.open > a, &.open > a:focus {
          background-color: #fff;
        }
        a {
          padding-left: 0px;
          .avatar-mini {
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: absolute;
            top: 0px;
            background-color: $icon-background-color;
            box-shadow: inset 0 0 1px #fff;
          }
          .welcome {
            padding-left: 45px;
            font-weight: 700;
          }
        }
        ul.dropdown-menu {
          box-shadow: 0 4px 6px #cdcdcd;
          margin-top: 19px;
          border-top: none;
          li {
            padding: 10px 0;
            height: auto;
            margin: 0 10px;
            border-bottom: 1px dotted #4f4f4f;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

body {
  font-family: 'Cantarell', sans-serif;
  background-color: #f1f1f1;
  .transitions-enabled {
    margin: auto;
  }
  .box{
    width: 255px;
    margin: 10px;
    box-shadow: 0px 2px 10px #cdcdcd;
    overflow: hidden;
    border-radius: 5px;
    &.wrapper {
      overflow: visible;
      box-shadow: none;
      background: none;
      .panel {
        background-color: #ffffff;
        box-shadow: 0px 2px 10px #cdcdcd;
        &:last-child {
          margin: 0px;
          box-shadow: 0px 2px 10px #cdcdcd;
        }
        h3 {
          margin-top: 0px;
          font-weight: 700;
          font-size: 18px;
        }
        .hashtags-container{
          .hashtag{
            float: left;
            font-size: 14px;
            padding: 3px;
            background-color: #f1f1f1;
            border: 1px solid #e2e2e2;
            border-radius: 2px;
            margin: 5px;
            a {
              color: #777777;
              &:hover {
                text-decoration: none;
              }
            }
            .close {
              margin-left: 5px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .panel-content {
      .image {
        width: 100%;
        height: auto;
      }
      .panel-body {
        padding: 14px;
        .tag-filter {
          margin-top: 10px;
        }
        .help {
          font-size: 10px;
          line-height: 26px;
        }
        .friend {
          float: left;
          width: 31px;
          height: 31px;
          margin: 0 1px 1px 0;
          background-color: $icon-background-color;
          &:nth-child(7n+2) {
            margin-right: 0px
          }
        }
        .description {
          color: #777777;
        }
        .hashtags {
          a{
            color: black;
          }
        }
        .pins {
          margin-top: 10px;

          .icon {
            margin-right: 7px;
            display: inline-block;
            position: relative;
            width: 70px;
            height: 70px;
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              margin-bottom: 5px;
              display: block;
              // background-color: $icon-background-color;
              background-color: #f05323;
              border-radius: 4px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .album-counter {
              top: 0px;
              left: 0px;
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,0.5);
              border-radius: 4px;
              h4{
                color: white;
                text-align: center;
                margin-bottom: 0px;
                margin-top: 15px;
                font-size: 20px;
                font-weight: 700;
              }
              h5{
                color: white;
                text-align: center;
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 5px;
                font-size: 18px;
              }
            }
            &:nth-child(3n) {
              margin-right: 0px;
            }
          }
        }
      }
      .footer {
        border-top: 1px solid #e2e2e2;
        padding: 14px;
        color: #777777;
        a {
          color: #777777;
          position: relative;
          .avatar-mini {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            position: absolute;
            top: -6px;
            background-color: $icon-background-color;
            box-shadow: inset 0 0 1px #fff;
          }
          .author {
            padding-left: 35px;
          }
        }
      }
    }
  }
  .btn-orange {
    background-color: #f05323;
    color: #ffffff;
    font-size: 11px;
  }

  .btn-black {
    background-color: #4f4f4f;
    color: #ffffff;
    font-size: 11px;
  }
}


.modal{
  .modal-dialog{
    margin-top: 111px;
    .close{
      text-shadow: none;
      color: white;
      opacity: 0.9;
      span {
        font-weight: 100;
      }
    }
    .modal-content{
      border-radius: 0px;
      border: none;
      .modal-body{
        padding: 0px;
        .row{
          margin-left: 0px;
          margin-right: 0px;
          .modal-picture{
            padding: 10px;
          }
          .modal-panel{
            padding: 0px;
            .modal-description{
              padding: 10px;
              background-color: #f05323;
              color: white;
              .description{
                margin-top: 10px;
                margin-right: 20px;
                p{
                  font-size: 13px;
                  margin: 0px;
                  &.info{
                    font-size: 10px;
                    margin-top: 5px;
                  }
                }
                .hashtags{
                  a{
                    font-size: 12px;
                    color: white;
                  }
                }
              }
            }
            .modal-comments{
              .modal-messages{
                overflow-y: auto;
                padding: 10px;
                height: 200px;
                .comment{
                  color: #898989;
                  border-bottom: 1px dotted #ddd;
                  width: 100%;
                  .icon{
                    vertical-align: top;
                  }
                  .message{
                    padding-left: 5px;
                    line-height: 14px;
                    font-size: 13px;
                    .info{
                      font-size: 10px;
                      margin-top: 5px;
                    }
                  }
                  &:last-child{
                    border-bottom: none;
                  }
                }
              }
              .modal-input{
                padding: 10px 10px 10px 0px;
                textarea.form-control{
                  resize: none;
                  width: 100%;
                  height: 65px;
                  border: 2px solid #ddd;
                  border-radius: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  nav.navbar.navbar-everbook{
    .navbar-header{
      button{
        border: 2px solid #f05323;
        padding: 7px;
        margin-top: 4px;
        span.icon-bar{
          background-color: #f05323;
          width:25px;
        }
      }
    }
    .navbar-collapse{
      position: absolute;
      margin: 0px;
      left: 0px;
      background-color: #fff;
      width: 100%;
      z-index: 9999999;
      overflow-y: hidden;
      box-shadow: 0 4px 7px -1px #cdcdcd;
      .navbar-form{
        margin-left: 0px;
        .input-group {
          width:100%;
          .form-control{
            width: 100%;
          }
        }
      }
      ul.navbar-right {
        display: none;
      }
      ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
        height: auto;
        & > li{
          border-bottom: 1px dotted #4f4f4f;
          &:last-child {
            border-bottom: none;
          }
          a{
            padding-left: 30px
          }
          &.responsive{
            display: block;
          }
          &.small-screen{
            display: block;
          }
          &.user-menu{
            ul.dropdown-menu{
              background-color: #fff;
              li.responsive {
                display: list-item;
              }

            }
          }
        }
      }
    }
  }

}

@media (min-width: 768px){
  nav.navbar.navbar-everbook{
    .navbar-form{
      margin-left: 0px;
      .form-control{
        width: 260px;
      }
    }
      ul.navbar-left {
        display: none;
      }
    ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
      & > li{
        a{
          padding-left: 0px
        }
        &.responsive{
          display: none;
        }
        &.small-screen{
          display: none;
        }
        &.user-menu{
          ul.dropdown-menu{
            li.responsive {
              display: list-item;
            }

          }
        }
      }
    }
  }

}

@media (min-width: 992px){
  nav.navbar.navbar-everbook{
    .navbar-form{
      margin-left: 0px;
      .form-control{
        width: 260px;
      }
    }
      ul.navbar-left {
        display: block;
      }
    ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
      & > li{
        a{
          padding-left: 0px
        }
        &.responsive{
          display: block;
        }
        &.user-menu{
          ul.dropdown-menu{
            li.responsive {
              display: none
            }
          }
        }
      }
    }
  }

}

@media (min-width: 1200px){
  nav.navbar.navbar-everbook{
    .navbar-form{
      margin-left: 20px;
      .form-control{
        width: 430px;
      }
    }
    ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
      & > li{
        a{
          padding-left: 10px
        }
        &.user-menu{
          ul.dropdown-menu{

          }
        }
      }
    }
  }

}
