
.user-container {
  position: relative;
  display: inline-block;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.18);
  width: 256px;
  height: 256px;
  z-index: 129;
  margin-right: 16px !important;
  margin-bottom: 16px !important;

  img {
    height: 60px !important;
    width: 60px !important;
    text-align: center !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }


  .name {
    text-align: center !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15px;
    margin-right: 15px;
    top: 40%;

    font-size: 18px;
    font-weight: 500;
    color: #616161;
    line-height: 1.389;
    z-index: 133;
    word-break:break-all;
  }

  .location {
    text-align: center !important;
    font-size: 18px;
    color: rgb(185, 184, 184);
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
  }

  .friend-btn {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 25px;
    margin-right: 25px;
    top: 65%;
    width: 208px;

    font-size: 12px;
    color: rgb(240, 83, 35);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.083;
    margin-top: 25px;
  }

}
