/*
 *= require font-awesome
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('cantarell-regular.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  src: local('Cantarell Bold'), local('Cantarell-Bold'), url('cantarell-bold.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  src: local('Cantarell Oblique'), local('Cantarell-Oblique'), url('cantarell-oblique.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  src: local('Cantarell Bold Oblique'), local('Cantarell-BoldOblique'), url('cantarell-bold-oblique.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    font-family: 'cantarell', sans-serif;
}
.text-everbook {
    color: #f05323;
    font-family: 'cantarell-bold', sans-serif;
    font-weight: 700;
}

.hidden {
    display: none;
}
.design-back {
    background-image: url('../images/desktop_back.jpg');
    background-position: 100% 20%;
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 100%;
    position: absolute;
    width: calc(100% - 360px);
}
.design-back .banner-text {
    color: white;
    margin-top: 15%;
}
.design-back .banner-text h1{
    font-size: 48px;
    line-height: 48px;
}
.design-back .banner-text h5{
    font-size: 18px;
    margin-top: 15px;
}
.signup-pane {
    background: #fff none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 360px;
    padding: 0 20px;
}
.signup-pane .signup-form {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
    height: 431px;
}
.signup-pane .signup-form .logo{
    margin-bottom: 20px;
    h1{
        font-family: 'cantarell-bold', sans-serif;
        font-weight: 700;
        font-size: 40px;
        color: #f05323;
        font-weight: bold;
    }
}
.signup-pane .signup-form .divide-line p {
    margin: 10px 0;
}
.signup-pane .signup-form .divide-line p:before{
    background: #b0b0b0 none repeat scroll 0 0;
    color: black;
    content: "";
    display: block;
    height: 1px;
    left: 15px;
    margin-top: 11px;
    position: absolute;
    vertical-align: middle;
    width: 38%;
}
.signup-pane .signup-form .divide-line p:after{
    background: #b0b0b0 none repeat scroll 0 0;
    color: black;
    content: "";
    display: block;
    height: 1px;
    right: 15px;
    margin-top: -9px;
    position: absolute;
    vertical-align: middle;
    width: 38%;
}
.btn {
    font-weight: bold;
    font-size: 15px;
    height: 42px;
}
.social .btn i {
    font-size: 29px;
    line-height: 41px;
    width: 45px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.social .btn {
    padding-left: 55px;
    position: relative;
    margin-top: 10px;
}
.social .btn.google {
    background: rgba(0, 0, 0, 0) linear-gradient(#DD4B39, #d14836) repeat scroll 0 0;
    line-height: 1.8;
}
.form .terms {
    margin-bottom: 20px;
    line-height: normal;
    color: #b0b0b0;
}
.btn.login-btn {
    padding-left: 30px;
    padding-right: 30px;
}
.btn.signup-btn {
    background: linear-gradient(#e3262e, #ab171e);
}
#signUpModal{
    .modal-dialog{
        margin-top: 150px;
    }
}

/****** Responsive Style *********/
@media (max-width: 1200px) {
    .design-back {
        background-image: url('../images/tablet_back.jpg');
        background-position: 50% 20%;
    }
}
@media (max-width: 767px) {
    .design-back .banner-text h1 {
        font-size: 33px;
        line-height: normal;
    }
    .design-back .banner-text h5 {
        font-size: 15px;
        line-height: normal;
    }
}
@media (max-width: 380px) {
    .signup-pane {
        width: 100%;
    }
}
