body {
  font-family: 'Cantarell', sans-serif;
  background-color: #f1f1f1;
  .transitions-enabled {
    margin: auto;
  }
  .box{
    width: 255px;
    //margin-left: 16px;
    //margin-top: 11px;
    margin: 10px; //TODO other pages depends on margin
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    overflow: hidden;
    border-radius: 5px;
    &.wrapper {
      overflow: visible;
      box-shadow: none;
      background: none;
      .panel {
        background-color: #ffffff;
        box-shadow: 0px 2px 10px #cdcdcd;
        &:last-child {
          margin: 0px;
          box-shadow: 0px 2px 10px #cdcdcd;
        }
        h3 {
          margin-top: 0px;
          font-weight: 700;
          font-size: 18px;
        }
        .hashtags-container{
          .hashtag{
            float: left;
            font-size: 14px;
            padding: 3px;
            background-color: #f1f1f1;
            border: 1px solid #e2e2e2;
            border-radius: 2px;
            margin: 5px;
            a {
              color: #777777;
              &:hover {
                text-decoration: none;
              }
            }
            .close {
              margin-left: 5px;
              line-height: 20px;
              font-size: 14px;
            }
          }
        }
      }
    }
    .panel-content {
      .image {
        width: 100%;
        height: auto;
      }
      .panel-body {
        padding: 14px;
        .tag-filter {
          margin-top: 10px;
        }
        .help {
          font-size: 10px;
          line-height: 26px;
        }
        .friend {
          float: left;
          width: 31px;
          height: 31px;
          margin: 0 1px 1px 0;
          background-color: $icon-background-color;
          &:nth-child(7n+2) {
            margin-right: 0px
          }
        }
        .description {
          color: #777777;
        }
        .hashtags {
          a{
            color: black;
          }
        }
        .pins {
          margin-top: 10px;

          .icon {
            margin-right: 7px;
            display: inline-block;
            position: relative;
            width: 70px;
            height: 70px;
            margin-bottom: 7px;
            a {
              position: absolute;
              width: 100%;
              height: 100%;
              display: block;
              // background-color: $icon-background-color;
              background-color: #f05323;
              border-radius: 4px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
            .album-counter {
              top: 0px;
              left: 0px;
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,0.5);
              border-radius: 4px;
              h4{
                color: white;
                text-align: center;
                margin-bottom: 0px;
                margin-top: 15px;
                font-size: 20px;
                font-weight: 700;
              }
              h5{
                color: white;
                text-align: center;
                margin-bottom: 0px;
                margin-top: 0px;
                line-height: 5px;
                font-size: 18px;
              }
            }
            &:nth-child(3n) {
              margin-right: 0px;
            }
          }
        }
      }
      .footer {
        border-top: 1px solid #e2e2e2;
        padding: 14px;
        color: #777777;
        a {
          color: #777777;
          position: relative;
          .avatar-mini {
            width: 30px;
            height: 30px;
            border-radius: 5px;
            position: absolute;
            top: -6px;
            background-color: $icon-background-color;
            box-shadow: inset 0 0 1px #fff;
          }
          .author {
            padding-left: 35px;
          }
        }
      }
    }
  }
  .btn-orange {
    background-color: #f05323;
    color: #ffffff;
    font-size: 11px;
  }

  .btn-black {
    background-color: #4f4f4f;
    color: #ffffff;
    font-size: 11px;
  }

  .upload-group {
    width: 100%;

    .upload-btn {
      width: 100%;
      span.text {
        margin-left: 30px;
      }
      span.caret {
        margin-left: 30px;
      }

    }

  }

}
