.modal{
  .modal-dialog{
    margin-top: 111px;
    .close{
      text-shadow: none;
      color: white;
      opacity: 0.9;
      span {
        font-weight: 100;
      }
    }
    .modal-content{
      border-radius: 0px;
      border: none;
      .modal-body{
        padding: 0px;
        .row{
          margin-left: 0px;
          margin-right: 0px;
          .modal-picture{
            padding: 0;
          }
          .modal-panel{
            padding: 0px;
            .modal-description{
              padding: 10px;
              background-color: #ffffff;
              color: rgb(119, 119, 119);

              .description{
                margin-top: 10px;
                margin-right: 5px;
                margin-left: 20px;

                p {
                  font-size: 13px;
                  margin: 0px;

                  &.title {
                    font-size: 15px;
                    font-weight: bold;
                    color: rgb(67, 67, 67);
                    padding-bottom: 5px;
                  }

                  &.info{
                    float: right;
                    font-size: 10px;
                    margin-top: -10px;
                  }
                }
                .hashtags{
                  a{
                    font-size: 12px;
                    color: rgb(119, 119, 119);
                  }
                }
              }
            }
            .modal-comments{
              margin-left: 30px;

              hr{
                margin-top: 10px;
                margin-bottom: 10px;
              }
              .modal-messages{
                margin-top: 20px;
                overflow-y: auto;
                padding: 10px;
                padding-left: 0px;
                height: 200px;
                .comment{
                  color: #898989;
                  width: 100%;
                  margin-bottom: 20px;
                  .icon{
                    vertical-align: top;
                    width: 30px;
                    padding-right: 10px;
                  }
                  .message{
                    padding-left: 5px;
                    line-height: 14px;
                    font-size: 13px;
                    .name {
                      margin-top: 5px;
                      display: block;
                      font-weight: bold;
                    }
                    .content{
                      margin-top: 5px;
                      word-break: break-all;
                    }
                    .info{
                      font-size: 10px;
                      margin-top: 5px;
                    }
                  }
                  &:last-child{
                    border-bottom: none;
                  }
                }
              }
              .modal-input{
                display: inline;
                padding: 10px 10px 10px 0px;
                textarea.comment-box{
                  resize: none;
                  width: 100%;
                  height: 45px;
                  border: 1px #ffffff;
                  border-radius: 3px;
                  background-color: rgba(232,232,232,0.9);
                  padding: 10px;
                  color: rgb(67, 67, 67);
                  margin-left: -30px !important;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-custom {
  width: 500px !important;
  margin-top: 20px !important;
}

#summer2016vacation___use___summerfamily_ {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(119, 119, 119);
  line-height: 1.25;
  position: absolute;
  left: 253.893px;
  top: 640.546px;
  z-index: 7;
}

