.modal{
  .modal-dialog{
    margin-top: 111px;
    .close{
      text-shadow: none;
      color: white;
      opacity: 0.9;
      span {
        font-weight: 100;
      }
    }
    .modal-content{
      border-radius: 0px;
      border: none;
      .modal-body{
        padding: 0px;
        .row{
          margin-left: 0px;
          margin-right: 0px;
          .modal-picture{
            padding: 10px;
          }
          .modal-panel{
            padding: 0px;
            .modal-description{
              padding: 10px;
              background-color: #f05323;
              color: white;
              .description{
                margin-top: 10px;
                margin-right: 20px;
                p{
                  font-size: 13px;
                  margin: 0px;
                  &.info{
                    font-size: 10px;
                    margin-top: 5px;
                  }
                }
                .hashtags{
                  a{
                    font-size: 12px;
                    color: white;
                  }
                }
              }
            }
            .modal-comments{
              hr{
                margin-top: 10px;
                margin-bottom: 10px;
              }
              .modal-messages{
                overflow-y: auto;
                padding: 10px;
                padding-left: 0px;
                height: 200px;
                .comment{
                  color: #898989;
                  width: 100%;
                  .icon{
                    vertical-align: top;
                    width: 30px;
                  }
                  .message{
                    padding-left: 5px;
                    line-height: 14px;
                    font-size: 13px;
                    .content{
                      word-break: break-all;
                    }
                    .info{
                      font-size: 10px;
                      margin-top: 5px;
                    }
                  }
                  &:last-child{
                    border-bottom: none;
                  }
                }
              }
              .modal-input{
                padding: 10px 10px 10px 0px;
                textarea.form-control{
                  resize: none;
                  width: 100%;
                  height: 65px;
                  border: 2px solid #ddd;
                  border-radius: 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}
