nav.navbar.navbar-everbook {
  background: white;
  box-shadow: 0 0 7px 3px #cdcdcd;
  height: 80px;
  border-radius: 0px;
  padding: 20px;
  margin-bottom: 23px;

  .navbar-brand {
    height: 40px;
    padding: 10px;
    font-size: 25px;
    font-weight: 700;
    line-height: 20px;
    font-family: 'Cantarell', sans-serif;
    a {
      color: #f05323;
    }
  }
  .navbar-form {
    margin: 0px;
    margin-left: 30px;
    .form-control{
      height: 40px;
      width: 430px;
      background-color: #f4f4f4;
      border: 1px solid #e8e8e8;
      box-shadow: none;
    }
    .input-group-addon{
      border: 1px solid #e8e8e8;
      height: 40px;
      width: 40px;
      font-size: 18px;
      padding: 0px;
      background-image: -webkit-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -moz-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -ms-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: -o-linear-gradient(to top, #e9e9e9, #fafafa);
      background-image: linear-gradient(to top, #e9e9e9, #fafafa);
      &.logo {
        background-image: url('/images/everbook-logo.png'), -webkit-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -moz-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -ms-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), -o-linear-gradient(to top, #e9e9e9, #fafafa);
        background-image: url('/images/everbook-logo.png'), linear-gradient(to top, #e9e9e9, #fafafa);
      }
    }
  }
  ul.nav.navbar-nav.navbar-left, ul.nav.navbar-nav.navbar-right {
    height: 40px;
    & > li {
      height: 40px;
      a{
        line-height: 10px;
        color: #616161;
        padding-left: 10px;
        padding-right: 10px;
        &.orange{
          color: #f05323;
        }
        &:hover, &:active {
          background-color: #fff;
        }
      }
      &:hover {
        background-color: #fff;
      }
      &.user-menu {
        &.open > a, &.open > a:focus {
          background-color: #fff;
        }
        a {
          padding-left: 0px;
          .avatar-mini {
            overflow: hidden;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            position: absolute;
            top: 0px;
            background-color: $icon-background-color;
            box-shadow: inset 0 0 1px #fff;
          }
          .welcome {
            padding-left: 45px;
            font-weight: 700;
          }
        }
        ul.dropdown-menu {
          box-shadow: 0 4px 6px #cdcdcd;
          margin-top: 19px;
          border-top: none;
          li {
            padding: 10px 0;
            height: auto;
            margin: 0 10px;
            border-bottom: 1px dotted #4f4f4f;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
