.wrapper {

  .sidebar-btn {
    font-size: 12px;
    color: rgb(240, 83, 35);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.083;
    margin-top: 25px;
  }


  .sidebar-label {
    font-size: 18px !important;
    color: rgb(97, 97, 97);
    margin-bottom: 25px;
  }

  .hashtags-container {
    .hashtag{
      float: left;
      font-size: 14px;
      padding: 3px;
      background-color: #f1f1f1;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      margin: 5px;
      a {
        color: #777777;
        &:hover {
          text-decoration: none;
        }
      }
      .close {
        margin-left: 5px;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }

  .no-tags-text, .no-friends-text {
    text-align: center !important;
    font-size: 15px;
    color: rgb(191, 191, 191);
    margin: 0 25px 0 25px !important;
  }

  .extra-panel-container {
    position: relative;
    height: 220px;

    img {
      top: 8%;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
    }

    .text-container {
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      margin: auto;

      text-align: center !important;
      font-size: 15px;
      color: rgb(191, 191, 191);
      margin: 0 25px 0 25px !important;
    }

    .btn {
      position: absolute;
      top: 65%;
      @extend .sidebar-btn;
    }

    .extra-space {
      margin-top: 35px;
    }

  }

  .panel-long {
    height: 235px;
  }

}
