.wrapper {

  .hashtags-container{
    .hashtag{
      float: left;
      font-size: 14px;
      padding: 3px;
      background-color: #f1f1f1;
      border: 1px solid #e2e2e2;
      border-radius: 2px;
      margin: 5px;
      a {
        color: #777777;
        &:hover {
          text-decoration: none;
        }
      }
      .close {
        margin-left: 5px;
        line-height: 20px;
        font-size: 14px;
      }
    }
  }


}
