%nav.navbar.navbar-everbook
  .container
    .navbar-brand=link_to "Everbook", root_path
    %form.navbar-form.navbar-left{role: 'search'}
      .form-group
        .input-group
          %span.input-group-addon.btn.logo
            %span.orange &nbsp;
          %input.form-control{type: 'text', placeholder: 'Search'}
          %span.input-group-addon.btn
            %span.fa.fa-search.orange
    %ul.nav.navbar-nav.navbar-left
      %li= link_to "EXPLORE", '#'
      %li= link_to "SHOP", '#'
      %li= link_to "INVITE", '#', class: 'orange'
    %ul.nav.navbar-nav.navbar-right
      %li.user-menu
        %a{href: "#"}
          %span.avatar-mini
          %span.welcome Welcome John
          %span.caret

